main > * + * {
  margin-top: 1rem;
}

form {
  display: grid;
  grid-gap: 0.5rem;
}

label {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: center;
}

input[type='text'],
input[type='number'] {
  font-size: 0.8rem;
  font-family: Dank Mono, monospace;
  border: 2px solid black;
  padding: 4px;
}

input[type='text']:focus,
input[type='number']:focus {
  outline: 0;
  border: 2px dashed black;
}

input[type='text']:invalid,
input[type='number']:invalid {
  outline: 0;
  box-shadow: none;
  border: 2px solid crimson;
}

input[type='text']:invalid:focus,
input[type='number']:invalid:focus {
  border-style: dashed;
}

[hidden] {
  display: none;
}
